$lgray: #f4f4f9;
$dgray: #353e42;
$primary: #a7cced;
$primary-hover: #76abda;
$green: #0daf4e;
$red: #d17c95;

html {
  background-color: $dgray;
}
.container {
  max-width: 800px;
  margin: 0 auto;
}
.row {
  display: flex;
  align-items: center;
}
.controls {
  padding-left: 16px;
  gap: 20px;
  p {
    font-size: 20px;
    color: white;
    border: 1px solid white;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    &:hover {
      background-color: $primary-hover;
    }
  }
}
.exercise {
  margin-bottom: 10px;
  &:first-child .delete-row {
    visibility: hidden;
  }
}
.checkboxes {
  padding: 0 10px;
}
input[type="checkbox"] {
  width: 25px;
  height: 25px;
  accent-color: $primary-hover;
  margin: 3px;
}
input[type="text"] {
  font-size: 20px;
  padding: 5px;
  flex-grow: 1;
}
i {
  font-size: 1.8rem;
  margin-left: 15px;
  &:hover {
    transform: scale(1.2);
    transition: 0.4s;
  }
}
.add-row {
  color: $green;
}
.delete-row {
  color: $red;
}
.dragger {
  color: white;
}

.delete-workout {
  color: $red;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $dgray;
  color: $lgray;
  border: 2px solid $lgray;
  padding: 20px;
  border-radius: 10px;
  .row {
    flex-wrap: nowrap;
  }
  label {
    font-size: 1.1rem;
  }
  input {
    margin: 10px 0;
    border: 1px solid black;
  }
  button {
    font-size: 1.2rem;
    padding: 10px 20px;
    margin: 0;
    width: auto;
    flex-grow: 1;
  }
  i {
    margin: 0 0 0 15px;
  }
}
